Django==3.2.7
GDAL==3.2.2.1
djangorestframework==3.12.4
djangorestframework-gis==0.17
djangorestframework-simplejwt==5.0.0
psycopg2==2.9.1
Pillow==8.3.2
PyJWT==2.3.0
djoser==2.0.3
django-cors-headers==3.8.0